autoflake==2.3.1 #   Vulnerabilities: None
autopep8==2.3.1 #   Vulnerabilities: None
black==24.8.0 #  From 24.4.2 |   Vulnerabilities: None
click==8.1.7 #   Vulnerabilities: None
flake8==7.1.1 #  From 7.1.0 |   Vulnerabilities: None
genbadge[all]==1.1.1 #   Vulnerabilities: None
hatchling==1.25.0 #   Vulnerabilities: None
mkdocs-material==9.5.33 #  From 9.5.30 |   Vulnerabilities: None
mkdocs-print-site-plugin==2.5.0 #   Vulnerabilities: None
mkdocstrings[python,shell]==0.25.2 #   Vulnerabilities: None
packaging==24.1 #   Vulnerabilities: None
pre-commit==3.8.0 #  From 3.7.1 |   Vulnerabilities: None
pylint==3.2.6 #   Vulnerabilities: None
pytest==8.3.2 #   Vulnerabilities: None
pytest-cov==5.0.0 #   Vulnerabilities: None
pytest-runner==6.0.1 #   Vulnerabilities: None
pytest-xdist==3.6.1 #   Vulnerabilities: None
pytz==2024.1 #   Vulnerabilities: None
ruff==0.6.3 #  From 0.5.5 |   Vulnerabilities: None
toml==0.10.2 #   Vulnerabilities: None
tox==4.18.0 #  From 4.16.0 |   Vulnerabilities: None
twine==5.1.1 #   Vulnerabilities: None
wheel==0.44.0 #  From 0.43.0 |   Vulnerabilities: None
